@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}*/
html, body {
  background-color: #f4f3f3;
  color: #39393f;
  line-height: 1.5;
  margin-top: 100px;
}


/*------------------------------header------------------------*/

.header {
  width: 50%;
  height: 110px;
  background: #39393f;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 30px;
  left: 25%;
  border-radius: 50px;
  box-sizing: border-box;
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 1000;
}

.header.hidden {
  transform: translateY(-150%);
  opacity: 0;
}

.header:not(.hidden) {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-menu-icon {
  display: none;
  cursor: pointer;
  border: none;
  background: none;
  margin-right: 20px;
}

.menu-icon {
  display: none;
  margin-top: 30px;
  height: 310px;
  width: 200px;
  background-color: white;
  transition: 0.4s;
  flex-direction: column;
  position: fixed;
  top: -350px;
  margin-left: -75px;
  border-radius: 20px;
}

.menu-icon.open {
  top: 0;
}

.menu-icon a:hover {
  color: #bda208;
}

.navlink-boutique {
  margin-top: 50px;
  padding: 10px 15px;
  font-size: 20px;
  color: #000000;
  transition: 0.3s;
  text-decoration: none;
}

.navlink-page {
  padding: 10px 15px;
  font-size: 20px;
  color: #000000;
  transition: 0.3s;
  text-decoration: none;
}

.navlink-btn-login-register-account-logout {
  color: white;
  background-color: #000000;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.navlink-btn-login-register-account-logout:hover{
  color: black;
  background: none;
  border: solid 1px #bda208;
}

.nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 80px;
}

.nav-header ul {
  display: flex;
  gap: 90px;
}

.nav-header ul a {
  text-decoration: 0;
  position: relative;
  color: #ffffff;
  font-size: 35px;
}

.nav-header ul a::after {
  margin-top: 50px;
  position: absolute;
  background-color: #bda208;
  transition: 0.1s ease;
  height: 2px;
  content: "";
  left: 0;
  width: 0%;
}

.nav-header ul a:hover::after {
  width: 100%;
}

.header-btn {
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
}

.btn-panier {
  background: none;
  cursor: pointer;
  border: none;
  font-size: 26px;
  padding: 15px;
}

.nbr-panier-item {

  margin-left: -25px;
  margin-top: -20px;
  background-color: #000000;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 10px;
}

.btn-login-header {
  cursor: pointer;
  border: none;
  background: none;
  margin-right: 20px;
}

.header-login {
  margin-top: 30px;
  height: 150px;
  width: 250px;
  background-color: #ffffff;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: -250px;
  margin-left: -140px;
  border-radius: 20px;
}

.header-login.open {
  top: 0;
}

.header-login a:hover {
  color: #bda208;
}

.navlink-account,
.navlink-login {
  padding: 10px 15px;
  font-size: 20px;
  color: #000000;
  transition: 0.3s;
  margin-top: 50px;
}

.navlink-logout,
.navlink-register {
  padding: 10px 15px;
  font-size: 20px;
  color: #000000;
  transition: 0.3s;
}

.btn-close-menu {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  color: #000000;
}

#logo {
  margin: 0;
  position: absolute;
}

.fa-user {
  font-size: 25px;
  color: #ffffff;
}

.fa-bag-shopping {
  color: #ffffff;
}

.fa-bars {
  color: white;
  font-size: 22px;

}

@media screen and (max-width: 1574px) {
  .nav-header {
   margin-left: -65px;
   flex-direction: row;
   align-items: center;
   gap: 30px;
 }

 .nav-header ul {
   flex-direction: row;
   gap: 20px;
 }

 .nav-header ul a {
   font-size: 22px;
 }

 .header-btn {
   margin-top: 10px;
 }

 #logo {
   top: 5px;
   position: relative;
 }


}

@media screen and (max-width: 1024px) {
  .header {
    width: 80%;
    left: 10%;
    flex-direction: row;
    height: 90px;
    align-items: center;
    padding: 0;
  }

  .nav-header {
    margin-left: -65px;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .nav-header ul {
    flex-direction: row;
    gap: 20px;
  }

  .nav-header ul a {
    font-size: 25px;
  }

  .header-btn {
    margin-top: 10px;
  }

  #logo {
    top: 5px;
    position: relative;
  }


}

@media screen and (max-width: 768px) {
  .header {
    width: 90%;
    height: auto;
    left: 5%;
    flex-direction: row;
    padding: 0;
  }

  .nav-header ul {
    flex-direction: row;
    gap: 20px;
  }

  .nav-header ul a {
    font-size: 20px;
  }

  .header-login {
    display: none;
  }

  .navlink-account,
  .navlink-login {
    padding: 10px 15px;
    font-size: 20px;
    color: #000000;
    transition: 0.3s;
    margin-top: 5px;
  }

  #logo {
    top: 5px;
    position: relative;
  }

}

@media screen and (max-width: 480px) {
  .header {
    width: 100%;
    height: 90px;
    left: 0;
    flex-direction: row;
    padding: 0;
  }

  .btn-menu-icon {
    display: flex;
  }

  .menu-icon {
    display: flex;
  }

  .menu-icon.open {
    top: 0
  }

  .nav-header {
    display: none;
  }

  .nav-header ul {
    flex-direction: row;
    gap: 20px;
  }

  .nav-header ul a {
    font-size: 20px;
  }

  .btn-login-header {
    display: none;
  }

  .header-login {
    display: none;
  }

  .navlink-account,
  .navlink-login {
    padding: 10px 15px;
    font-size: 20px;
    color: #000000;
    transition: 0.3s;
    margin-top: 5px;
  }

  #logo {
    top: 5px;
    position: relative;
  }

}



/**--------------------footer----------------**/

.footer {
  background-color: #222222;
  color: #ffffff;
  padding: 0;
  height: auto;
  text-align: center;
  margin-bottom: -15px;
  width: 100%;
}

.nav2 {
  margin-top: 50px;
  display: block;
  justify-content: center;
}

.nav-link2 {
  margin: 10px;
}

.fa-brands {
  margin-top: 25px;
}

.fa-instagram {
  font-size: 40px;
  color: #ffffff;
}

.fa-tiktok {
  font-size: 35px;
  color: #ffffff;
}

.lien-email-footer,
.lien-tel-footer {
  color: #bda208;
}

.nav-footer a {
  margin: 30px;
  color: #ffffff;
  text-decoration: none;
}

.h3-footer {
  font-size: 40px;
}


@media screen and (max-width: 1024px) {
  
  .footer {
    width: 100%;
  }


}

@media screen and (max-width: 480px) {
  .nav-footer a {
    font-size: 16px;
    margin: 17px;
  }



}




/*--------------------------Home---------------------------*/

.main-content {
  padding: 0;
  text-align: center;
}

.text-home-aros {
  font-size: 80px;
  margin-bottom: 0;
}

.text-home {
  margin-top: -15px;
  font-size: 25px;
}

.h5-home {
  margin-bottom: 100px;
  font-weight: normal;
}

.h4-home-perso {
  font-size: 50px;
}

.btn-home-perso {
  font-size: 19px;
  padding: 10px 45px;
  margin-bottom: 100px;
  border-radius: 50px;
  background: #39393f;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-home-perso .text {
  margin-right: 25px; 
}

.btn-home-perso:hover {
  font-size: 19px;
  padding: 10px 45px;
  margin-bottom: 96px;
  background: none;
  color: #39393f;
  border: solid 2.5px #39393f;
  cursor: pointer;
}

.h3-model {
  font-size: 40px;
  margin-left: 50px;
  color: #39393f;
  text-align: left;
}

.model {
  background-color: #a7a7a7;
  height: 780px;
  overflow-x: auto;
}

.ul-home {
  list-style: none;
  list-style-type: none;
  display: flex;
  gap: 150px;
}

.image-container {
  position: relative;
  width: auto;
  height: auto;
}

.overlay-text1 {
  position: absolute;
  top: 78%;
  left: 39%;
  color: black; 
  text-align: center;
}

.overlay-text2 {
  position: absolute;
  top: 78%;
  left: 41%;
  color: black; 
  text-align: center;
}

.overlay-text3 {
  position: absolute;
  top: 42%;
  left: 32%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px 30px;
  border-radius: 50px;
  font-size: 25px;
  text-align: center;
}

.model-name {
  margin-top: 0px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}

.model-desc {
  margin-top: -22px;
  font-size: 16px;
  text-align: left;
}

.prix-model-home {
  margin-top: -15px;
  color: #39393f;
  text-align: left;
  font-weight: bold;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  top: 101.5%;
  left: 23%;
  background-color: rgba(0, 0, 0, 0.5); 
  color: #fff; 
  text-align: center;
  padding: 10px 70px;
  border-radius: 50px;
  font-size: 18px;
  white-space: nowrap;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.tooltip-arrow {
  visibility: hidden;
  position: absolute; 
  left: 46%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent; 
  border-right: 8px solid transparent; 
  border-bottom: 8px solid rgba(0, 0, 0, 0.5); 
}

.image-container:hover .tooltip-arrow {
  visibility: visible;
  opacity: 1;
}

.image-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .text-home-aros {
    font-size: 60px;
    margin-bottom: 0;
  }
  
  .text-home {
    font-size: 25px;
  }

  .h5-home {
    font-size: 20px;
  }

  .h4-home-perso {
    font-size: 30px;
  }
  
  .btn-home-perso {
    font-size: 19px;
    padding: 10px 45px;
    margin-bottom: 100px;
  }
  
  .btn-home-perso:hover {
    font-size: 19px;
    padding: 10px 45px;
    margin-bottom: 100px;
  }
  
  .h3-model {
    font-size: 30px;
    margin-left: 50px;
    color: #000000;
    text-align: left;
  }
  
  .model {
    background-color: #a7a7a7;
    height: 480px;
    overflow-x: auto;
  }
  
  .ul-home {
    list-style: none;
    list-style-type: none;
    display: flex;
    gap: 50px;
  }
  
  .overlay-text1 {
    position: absolute;
    top: 78%;
    left: 35%;
    color: black; 
    text-align: center;
  }

  .overlay-text2 {
    position: absolute;
    top: 78%;
    left: 37%;
    color: black; 
    text-align: center;
  }

  .overlay-text3 {
    position: absolute;
    top: 40%;
    left: 23%;
    font-size: 25px;
    text-align: center;
  }
  
  .imgMontre1, .imgMontre2, .imgMontre3 {
    width: 250px;
    height: 310px
  }


}

@media screen and (max-width: 768px) {
  .text-home-aros {
    font-size: 60px;
    margin-bottom: 0;
  }
  
  .text-home {
    font-size: 25px;
  }

  .h5-home {
    font-size: 20px;
  }

  .h4-home-perso {
    font-size: 30px;
  }
  
  .btn-home-perso {
    font-size: 19px;
    padding: 10px 45px;
    margin-bottom: 100px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .btn-home-perso:hover {
    font-size: 19px;
    padding: 10px 45px;
    margin-bottom: 100px;
    background: none;
    color: black;
    border: solid 2.5px #bda208;
    cursor: pointer;
  }
  
  .h3-model {
    font-size: 30px;
    margin-left: 50px;
    color: #000000;
    text-align: left;
  }
  
  .model {
    background-color: #a7a7a7;
    height: 420px;
    overflow-x: auto;
  }
  
  .ul-home {
    list-style: none;
    list-style-type: none;
    display: flex;
    gap: 50px;
  }

  .overlay-text1 {
    position: absolute;
    top: 76%;
    left: 29%;
    padding: 5px 10px;
    font-size: 13px;
  }

  .overlay-text2 {
    position: absolute;
    top: 76%;
    left: 31%;
    padding: 5px 10px;
    font-size: 16px;
  }
  

  .overlay-text3 {
    position: absolute;
    top: 40%;
    left: 23%;
    font-size: 25px;
    text-align: center;
  }

  .model-name {
    font-size: 16px;
    font-weight: bold;
  }
  
  .imgMontre1, .imgMontre2, .imgMontre3 {
    width: 200px;
    height: 250px;
  }


}

@media screen and (max-width: 480px) {
  .text-home-aros {
    padding-top: 0px;
    font-size: 50px;
    margin-bottom: 0;
  }
  
  .text-home {
    font-size: 20px;
  }

  .h5-home {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .h4-home-perso {

    font-size: 30px;
  }
  
  .btn-home-perso {
    font-size: 19px;
    padding: 10px 45px;
    margin-bottom: 100px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .btn-home-perso:hover {
    font-size: 19px;
    padding: 10px 45px;
    margin-bottom: 100px;
    background: none;
    color: black;
    border: solid 2.5px #bda208;
    cursor: pointer;
  }
  
  .h3-model {
    font-size: 30px;
    margin-left: 50px;
    color: #000000;
    text-align: left;
  }
  
  .model {
    background-color: #a7a7a7;
    height: 375px;
    overflow-x: auto;
  }
  
  .ul-home {
    list-style: none;
    list-style-type: none;
    display: flex;
    gap: 50px;
  }

  .overlay-text1 {
    position: absolute;
    top: 73%;
    left: 25%;
    padding: 5px 10px;
    font-size: 13px;
  }

  .overlay-text2 {
    position: absolute;
    top: 73%;
    left: 28%;
    padding: 5px 10px;
    font-size: 16px;
  }

  .overlay-text3 {
    position: absolute;
    top: 40%;
    left: 19%;
    padding: 10px 15px;
    font-size: 25px;
    text-align: center;
  }
  
  .imgMontre1, .imgMontre2, .imgMontre3 {
    width: 160px;
    height: 200px;
  }
}


/*----------------à propos--------------------*/

.main-apropos {
  text-align: left;
  display: block;
  margin-left: 50px;
}

.img-lje {
  margin-left: 1100px;
  margin-top: -400px;
}

.h2-apropos{
  font-size: 45px;
  color: #39393f;
}

@media screen and (max-width: 480px) {
  .main-apropos {
    margin-top: 160px;
    margin-left: 0;
    text-align: center;
  }

  .img-lje {
    width: 300px;
    height: 300px;
    margin: 0;
  }

  .h2-apropos {
    font-size: 25px;
  }


}

@media screen and (max-width: 768px) {
  .main-apropos {
    margin-top: 160px;
    margin-left: 0;
    text-align: center;
  }

  .img-lje {
    width: 300px;
    height: 300px;
    margin: 0;
  }

  .h2-apropos {
    font-size: 25px;
  }


}

@media screen and (max-width: 1024px) {
  .main-apropos {
    margin-top: 160px;
    margin-left: 0;
    text-align: center;
  }

  .img-lje {
    width: 300px;
    height: 300px;
    margin: 0;
  }

  .h2-apropos {
    font-size: 40px;
  }


}


/*---------------------contact----------------------*/

.main-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.contact-gauche {
  text-align: left;
  margin: 0px 200px 600px;
}

.fa-envelope,
.fa-phone {
  font-size: 30px;
  margin-right: 20px;
}


.lien-email-contact,
.lien-tel-contact {
  color: #bda208;
}

.contact-droite {
  border: 1px solid #bda208;
  background-color: #000000;
  color: white;
  width: 100%;
  max-width: 700px;
  padding: 20px;
  margin: 100px auto;
}

.h3-contact {
  font-size: 30px;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 20px;
}

.prenom-text {
  margin-left: 135px;
  margin-right: 13px;
}

.prenom-zone {
  text-align: left;
  margin-bottom: 15px;
  width: 30%;
  height: 25px;
  border-radius: 5px;
}

.nom-text {
  margin-left: 153px;
  margin-right: 13px;
}

.nom-zone {
  text-align: left;
  margin-bottom: 15px;
  width: 30%;
  height: 25px;
  border-radius: 5px;
}

.tel-text {
  margin-left: 46px;
  margin-right: 17px;
}

.tel-zone {
  text-align: left;
  width: 30%;
  height: 25px;
  border-radius: 5px;
}

.email-text {
  text-align: left;
  margin-left: 90px;
  margin-right: 13px;
}

.email-zone {
  text-align: left;
  margin-top: 15px;
  width: 30%;
  height: 25px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.sujet-text {
  text-align: left;
  margin-left: 153px;
  margin-right: 20px;
}

.sujet-zone {
  text-align: left;
  margin-bottom: 15px;
  width: 30%;
  height: 25px;
  border-radius: 5px;
}

.message-text {
  text-align: left;
  margin-left: 130px;
}

.zonetexte {
  display: block;
  margin-top: -25px;
  background-color: #ffffff;
  overflow-y: auto;
  margin-left: 208px;
  border-radius: 5px;
}

.envoyer-contact {
  margin: 20px auto;
  background-color: #bda208;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

em {
  font-size: 13px;
  margin: 10px 210px;
  text-align: left;
  display: block;
}


@media screen and (max-width: 1440px) {

  .contact-gauche {
    text-align: left;
    margin: 0px 50px 720px;
  }
  
  .fa-envelope,
  .fa-phone {
    font-size: 25px;
  }
  
  .contact-droite {
    max-width: 700px;
    margin: 50px;
  }
  
  
  .zonetexte {
    width: 60%;
  }
  
  em {
    font-size: 14px;
    margin: 30px 0px;
    text-align: left;
    display: block;
  }
}

@media screen and (max-width: 1024px) {

  .contact-gauche {
    text-align: left;
    margin: 0px 10px 720px;
  }
  
  .fa-envelope,
  .fa-phone {
    font-size: 25px;
  }
  
  .contact-droite {
    max-width: 700px;
    margin: 50px;
  }
  
  .zonetexte {
    width: 50%;
  }
  
  em {
    font-size: 14px;
    margin: 30px 0px;
    text-align: left;
    display: block;
  }
}



@media screen and (min-width: 768px) {
  .main-contact {
    flex-direction: row;
  }
}

@media screen and (max-width: 768px) {

  .main-contact {
    display: grid;
    flex-direction: column;
  }

  .contact-gauche {
    text-align: center;
    margin: 0px;
  }
  
  .fa-envelope,
  .fa-phone {
    font-size: 25px;
  }
  
  .contact-droite {
    max-width: 500px;
    margin: 30px 80px 0px ;
  }
  
  .zonetexte {
    width: 50%;
  }
  
  em {
    font-size: 14px;
    margin: 30px 0px;
    text-align: left;
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .contact-gauche {
    text-align: center;
    margin: -200px 0px 0px;
  }
  
  .fa-envelope,
  .fa-phone {
    font-size: 25px;
    margin-right: 10px;
  }
  
  .contact-droite {
    max-width: 400px;
    margin: 30px -21px 0px ;
  }
  
  .prenom-text {
    margin-left: 0px;
    margin-right: 113px;
  }
  
  .prenom-zone, .nom-zone {
    width: 50%;
  }
  
  .nom-text {
    margin-left: 0px;
    margin-right: 130px;
  }
  
  .tel-text {
    margin-left: 0px;
    margin-right: 26px;
  }
  
  .tel-zone {
    width: 50%;
  }
  
  .email-text {
    margin-left: 0px;
    margin-right: 67px;
  }
  
  .email-zone {
    width: 50%;
  }
  
  .sujet-text {
    margin-left: 0px;
    margin-right: 137px;
  }
  
  .sujet-zone {
    width: 50%;
  }
  
  .message-text {
    margin-left: 0px;
  }
  
  .zonetexte {
    margin-left: 80px;
    width: 75%;
  }
  
  em {
    font-size: 14px;
    margin: 30px 0px;
    text-align: left;
    display: block;
  }
}


/*-------------------------login-----------------------------*/

.main-login {
  text-align: center;
  display: block;
}

.email-login {
  margin-top: 30px;
  width: 50%;
  padding: 1%;
  border-radius: 5px;
}

.mdp-login {
  margin-top: 0px;
  width: 50%;
  padding: 1%;
  border-radius: 5px;
}

.input-error {
  border: 2px solid red;
  border-radius: 5px;
}

.btn-hide-login {
  border: none;
  background: none;
  margin-top: -11.5%;
  margin-left: 45%;
  margin-bottom: 10%;
  cursor: pointer;
  font-size: 18px;
}

.btn-login {
  margin-right: 110px;
  margin-top: 5%;
  margin-bottom: 15%;
  background-color: #bda208;
  border-radius: 5px;
  color: #ffffff;
  padding: 2% 5px;
  text-decoration: none;
  font-size: 95%;
  cursor: pointer;
  border: 1px solid #000000;
  transform: 0.1s ease;
}

.btn-login:active {
  transform: translateY(2px); 
  box-shadow: 0 1px #000000; 
}

.btn-login:disabled {
  cursor: wait;
}

.nav-login {
  color: #bda208;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #39393f;
  border: 2px solid #bda208;
  width: 21.5%;
  margin-left: 38.5%;
}

.login-no-acount {
  margin-top: 100px;
}

.h2-login {
  font-size: 45px;
}


@media screen and (max-width: 1440px) {

  .form-login {
    width: 25%;
    margin-left: 36.5%;
  }

  .btn-login {
    margin-right: 85px;
  }

  .btn-hide-login {
    margin-top: -13%;
  }

}

@media screen and (max-width: 1024px) {

  .form-login {
    width: 50%;
    margin-left: 24.5%;
  }

  .btn-login {
    margin-right: 160px;
  }

  .btn-hide-login {
    margin-top: -10%;
  }
  
  }

@media screen and (max-width: 768px) {

  .form-login {
    width: 50%;
    margin-left: 24.5%;
  }

  .btn-login {
    margin-right: 95px;
  }

  .btn-hide-login {
    margin-top: -12.5%;
  }

}

@media screen and (max-width: 425px) {
  .h2-login {
    font-size: 35px;
  }

  .form-login {
    margin-left: 0%;
    width: 100%;
  }

  .btn-login {
    margin-right: 110px;
  }

  .btn-hide-login {
    margin-top: -12%;
  }

}

@media screen and (max-width: 375px) {
  .h2-login {
    font-size: 35px;
  }

  .form-login {
    margin-left: 0%;
    width: 100%;
  }

  .btn-login {
    margin-right: 90px;
  }

  .btn-hide-login {
    margin-top: -13%;
  }

}

@media screen and (max-width: 320px) {
  .h2-login {
    font-size: 35px;
  }

  .form-login {
    margin-left: 0%;
    width: 100%;
  }

  .btn-login {
    margin-right: 60px;
  }

  .btn-hide-login {
    margin-top: -15%;
    font-size: 15px;
  }

}



/*-----------------------------register---------------------------*/

.main-register {
  text-align: center;
  display: block;
}

.form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #39393f;
  width: 21.5%;
  margin-left: 39.2%;
  border: 1px solid #bda208;
}

.firstname-register {
  margin-top: 30px;
  width: 50%;
  height: 20px;
  border-radius: 5px;
}

.lastname-register {
  margin-top: 15px;
  width: 50%;
  height: 20px;
  border-radius: 5px;
}

.email-register {
  margin-top: 15px;
  width: 50%;
  height: 20px;
  border-radius: 5px;
}

.mdp-register {
  margin-top: 15px;
  width: 50%;
  height: 20px;
  border-radius: 5px;
  margin-bottom: 25px;
}

.btn-hide-register {
  border: none;
  background: none;
  margin-top: -11.5%;
  margin-left: 45%;
  margin-bottom: 10%;
  cursor: pointer;
  font-size: 18px;
}

.btn-register {
  margin-right: 120px;
  margin-top: 5px;
  margin-bottom: 30px;
  background-color: #bda208;
  border-radius: 5px;
  color: #ffffff;
  padding: 1px 5px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.btn-register:disabled {
  cursor: wait;
}

.nav-register {
  color: #bda208;
}


@media screen and (max-width: 1440px) {

  .form-register {
    width: 25%;
    margin-left: 37.5%;
  }

  .btn-register {
    margin-right: 100px;
  }
  
  }
  
  @media screen and (max-width: 1024px) {
  
    .form-register {
      width: 50%;
      margin-left: 25.5%;
    }
  
    .btn-register {
      margin-right: 175px;
    }

    .btn-hide-register {
      margin-top: -9.5% ;
    }
    
    }
  
  @media screen and (max-width: 768px) {
  
    .form-register {
      width: 50%;
      margin-left: 25%;
    }
  
    .btn-register {
      margin-right: 110px;
    }

    .btn-hide-register {
      margin-top: -12.5% ;
    }
  
  }
  
  @media screen and (max-width: 425px) {
    .h2-login {
      font-size: 35px;
    }
  
    .form-register {
      width: 100%;
      margin-left: 0%;
    }
  
    .btn-register {
      margin-right: 130px;
    }

    .btn-hide-register {
      margin-top: -11.6% ;
    }
  
  }
  
  @media screen and (max-width: 375px) {
    .h2-login {
      font-size: 35px;
    }
  
    .form-register {
      width: 100%;
      margin-left: 0%;
    }
  
    .btn-register {
      margin-right: 100px;
    }

    .btn-hide-register {
      margin-top: -13.5% ;
    }
  
  }

  @media screen and (max-width: 320px) {
    .h2-login {
      font-size: 35px;
    }
  
    .form-register {
      width: 100%;
      margin-left: 0%;
    }
  
    .btn-register {
      margin-right: 100px;
    }

    .btn-hide-register {
      margin-top: -15%;
      font-size: 15px;
    }
  
  }






/*-------------------messageSend---------------------*/

.main-message-send {
  margin-top: 120px;
  text-align: center;
  margin-bottom: 193px;
}

.h3-message-send {
  font-size: 40px;
  text-align: center;
  padding-top: 220px;
}






/*------------------------Modèle 1------------------------------------*/



.modele {
  display: flex;
  align-items: center;
}

.img-modele {
  background-color: #a7a7a7;
  margin-left: 30%;
  border-radius: 5px;
}

.options {
  margin-left: 8%;
  width: 34%;
  text-align: left;
}

.infos-modele {
  text-align: left;
  margin-left: 1%;
}

.p-prix-modele {
  font-weight: bold;
  font-size: 20px;
}



/*---------------------------PersoMontre------------------------------*/

.h2-persoMontre {
  font-size: 45px;
  color: #39393f;
}

.main-custom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img-watch-custom {
  text-align: center;
  margin-left: -393px;
}

.img-watch-ex {
  width: 400px;
  height: 400px;
  object-fit: cover;
  position: absolute;
}

.customization-panel {
  text-align: center;
  margin-top: 500px;
}

.nav-btn-perso {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin-top: -45px;
  margin-left: 205px;
  margin-bottom: 50px;
  position: absolute;
}

.nav-btn-perso button {
  padding: 6px 10px;
  background-color: #bda208;
  color: white;
  border: none;
  cursor: pointer;
}

.nav-btn-perso button:disabled {
  background-color: #cacaca;
  cursor: not-allowed;
}

.options-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: left;
  overflow-y: auto;
  width: 640px;
  height: 200px;
  gap: 10px;
  padding-right: 10px;
  margin-bottom: 100px;
}


.img-option {
  background-color: #f0f0f0;
  border: 2.5px solid #bda208;
  cursor: pointer;
  padding: auto;
  border-radius: 8px;
  height: auto;
  width: 178px;
}

.options-list img:hover {
  background-color: #bdbdbd;
  transform: scale(0.96);
}


@media screen and (max-width: 768px) {

  .h2-persoMontre {
    font-size: 40px;
  }

  .main-custom {
    display: block;
    margin-top: 150px;
  }

  .img-watch-custom {
    margin-left: -293px;
  }

  .img-watch-ex {
    width: 300px;
    height: 300px;
  }

  .customization-panel {
    text-align: center;
    margin-top: 380px;
  }

  .nav-btn-perso {
    width: 50%;
    margin-left: 23%;
  }

  .options-list {
    width: 100%;
    gap: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
  }
  
  .img-option {
    width: 115px;
  }
  
  .options-list img:hover {
    transform: scale(0.96);
  }
}

@media screen and (max-width: 480px) {

  .h2-persoMontre {
    font-size: 30px;
  }

  .main-custom {
    display: block;
    margin-top: 150px;
  }

  .img-watch-custom {
    margin-left: -293px;
  }

  .img-watch-ex {
    width: 300px;
    height: 300px;
  }

  .customization-panel {
    text-align: center;
    margin-top: 380px;
  }

  .nav-btn-perso {
    width: 50%;
    margin-left: 23%;
  }

  .options-list {
    width: 100%;
    gap: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
  }
  
  .img-option {
    width: 115px;
  }
  
  .options-list img:hover {
    transform: scale(0.96);
  }
}

@media screen and (max-width: 415px) {

  .h2-persoMontre {
    font-size: 25px;
  }

  .main-custom {
    display: block;
    margin-top: 150px;
  }

  .img-watch-custom {
    margin-left: -293px;
  }

  .img-watch-ex {
    width: 300px;
    height: 300px;
  }

  .customization-panel {
    text-align: center;
    margin-top: 380px;
  }

  .nav-btn-perso {
    width: 50%;
    margin-left: 23%;
  }

  .options-list {
    width: 100%;
    gap: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
  }
  
  .img-option {
    width: 102px;
  }
  
  .options-list img:hover {
    transform: scale(0.96);
  }
}






/*-------------------------------Panier--------------------------------*/

.main-panier {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.p-panier {
  font-size: 18px;
  margin-bottom: 50px;
}

.main-panier-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.panier-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px black;
  width: 90%;
  max-width: 1100px;
  background-color: #bbbbbb;
  margin: 20px 0;
  padding: 20px;
}

.watch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.images-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}


.img-watch {
  position: absolute;
  margin-top: 100px;
  margin-left: 500px;
  object-fit: cover;
}

.img-watch-panier {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.component-panier {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  width: 100%;
}

.item-panier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a7a7a7;
  color: #000000;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-top: 10px;
}

.h3-item-name-panier {
  font-size: 19px;
}

.p-item-price-panier {
  font-size: 16px;
}

.perso-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a7a7a7;
  color: #000000;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-top: 30px;
}

.panier-quantity {
  position: absolute;
  display: flex;
  margin-top: 480px;
  margin-left: 500px;
}

.btn-quantity {
  background: none;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  color: #000000;
}

.btn-quantity:disabled {
  background: none;
  padding: 5px 10px;
  border: none;
  cursor: not-allowed;
  margin: 0 10px;
  color: #a7a7a7;
}

span {
  font-size: 18px;
  margin: 0 10px;
}

.total-panier {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

.h3-total {
  text-align: left;
  background-color: #a7a7a7;
  color: black;
  width: 100%;
  justify-content: space-between;
}

.h3-sous-total {
  text-align: center;
  background-color: #a7a7a7;
  padding: 10px;
  color: black;
  width: 30%;
  margin-bottom: 0px;
}

.navlink-continu-achat {
  margin-right: 175px;
  margin-bottom: 10px;
  color: #bda208;
  text-decoration: none;
  font-size: 18px;
}

.btn-commander {
  display: flex;
  margin-top: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  position: relative;
}

.btn-commander:hover {
  background: none;
  color: black;
}

.btn-commander .text {
  margin-left: -6px; 
}

.btn-commander i {
  font-size: 20px;
  opacity: 0; 
  transition: transform 0.5s ease;
  transform: translateX(-50px);
}

.btn-commander:hover .text {
  opacity: 0; 
}

.btn-commander:hover i {
  opacity: 1; 
  margin-left: 55px;
  transform: translateX(0);
}

.btn-remove-watch {
  margin-top: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 105%;
}

.btn-remove-all {
  margin-top: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  margin-right: 50px;
}

.btn-remove-watch:hover,
.btn-remove-all:hover {
  background-color: rgb(190, 0, 0);
}

.btn-commander:hover {
  scale: 0.95;
}


.btns-remove-comm {
  display: flex;
}

.btn-fillpanier {
  background-color: #bda208;
  font-size: 18px;
  padding: 10px 30px;
  margin-top: 20px;
  cursor: pointer;
}


@media screen and (max-width: 1024px) {
  
  .p-panier {
    font-size: 20px;
  }
  
  .panier-container {
    width: 100%;
  }
  
  .img-watch {
    margin-left: 0px;
  }
  
  .img-watch-panier {
    width: 300px;
    height: 300px;
    margin-left: 76.5%;
    margin-top: 20%;
  }
  
  .component-panier {
    font-size: 25px;
  }
  
  .item-panier {
    width: 50%;
  }
  
  .perso-total {
    width: 50%;
  }
  
  .panier-quantity {
    margin-top: 52%;
    margin-left: 45%;
  }
  
  .h3-sous-total {
    width: 32%;
  }
  
  .h3-item-name-panier {
    font-size: 17px;
  }
  
  .p-item-price-panier {
    font-size: 15px;
  }

  .h3-total {
    font-size: 26px;
  }

  .navlink-continu-achat {
    margin-right: 150px;
  }
  
}


@media screen and (max-width: 768px) {
  
  .p-panier {
    font-size: 15px;
    margin-bottom: 50px;
  }
  
  .panier-container {
    width: 100%;
  }
  
  .img-watch {
    margin-left: 0px;
  }
  
  .img-watch-panier {
    width: 250px;
    height: 250px;
    margin-left: 84.5%;
    margin-top: 30%;
  }
  
  .component-panier {
    font-size: 20px;
  }
  
  .item-panier {
    width: 50%;
  }
  
  .perso-total {
    width: 50%;
  }
  
  .panier-quantity {
    margin-top: 65%;
    margin-left: 55%;
  }

  .btn-remove-watch {
    width: 94%;

  }
  
  .h3-sous-total {
    width: 50%;
  }

  .h3-item-name-panier {
    font-size: 15px;
  }
  
  .p-item-price-panier {
    font-size: 13px;
  }

  .h3-total {
    font-size: 23px;
  }
  
  .navlink-continu-achat {
    margin-right: 150px;
  }
  
}


@media screen and (max-width: 480px) {
  
  .p-panier {
    font-size: 15px;
    margin-bottom: 20px;
  }
  
  .panier-container {
    width: 100%;
  }
  
  .img-watch {
    margin-top: 0px;
    margin-left: 0px;
  }
  
  .img-watch-panier {
    width: 200px;
    height: 200px;
    margin-left: 57%;
    margin-top: 75%;
  }
  
  .component-panier {
    font-size: 10px;
  }
  
  .item-panier {
    width: 50%;
  }
  
  .perso-total {
    width: 50%;
  }
  
  .panier-quantity {
    margin-top: 100%;
    margin-left: 54%;
  }

  .btn-remove-watch {
    padding: 5px 20px;
    font-size: 13px;
    width: 56%;
  }
  
  .h3-sous-total {
    width: 43%;
    font-size: 14px;
  }

  .h3-item-name-panier {
    font-size: 13px;
  }
  
  .p-item-price-panier {
    font-size: 11px;
  }

  .h3-total {
    font-size: 17px;
  }
  
  .navlink-continu-achat {
    margin-right: 0px;
  }
  
}







/*-----------------------------MonCompte---------------------------*/

.main-account {
  text-align: center;    
}

.h2-account {
  font-size: 45px;
  color: #39393f
}

.infos-account {
  padding: 20px;
  display: grid;
  text-align: center;
  color: white;
  border: solid 2px #bda208;
  background-color: #39393f;
  width: 30%;
  align-items: center;
  margin-left: 34.5%;
}

.p-account-sur-name, .p-account-email {
  font-size: 18px;
}

.edit-button {
  background-color: #bda208;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px ;
  width: 28%;
  margin-left: 36.5%;
  cursor: pointer;
}

.edit-button:active {
  transform: translateY(2px); 
}

.verification-code-container {
  padding: 150px 190px 250px ;
  text-align: left;
  height: 120px;
  width: 300px;
  background-color: #ffffff;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-top: -820px;
  margin-left: 600px;
  border-radius: 20px;
}

.verification-code-container.open {
  top: 970px;
}

.verification-code-container a:hover {
  color: #bda208;
}

.btn-close-menu-account {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  color: #000000;
}

.btn-close-menu-account.loading-menu-btn {
  color: transparent;
}

.verification-form {
  display: block;
}

.verification-form:disabled {
  display: none;
}

.code-input-container {
  display: flex;
  justify-content: center;
  gap: 10px; 
  margin-bottom: 20px;
}

.code-input {
  width: 40px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  transition: border-color 0.3s;
}

.code-input:focus {
  border-bottom: 2px solid #bda208; 
}

.verify-button {
  border-radius: 5px;
  border: 1px solid #000000;
  background-color: #bda208;
  color: white;
  padding: 2%;
  cursor: pointer;
}

.verify-button:active {
  transform: translateY(2px);  
}

.verify-button:disabled {
  transform: none; 
  cursor: not-allowed;
  background-color: #ccc;
}

.loading {
  transform: none; 
  cursor: progress;
  background-color: #ccc;
}

.verification-code-container.loading-menu {
  background-color: transparent;
  cursor: progress;
  transition: none;
  display: none;
}

.resend-code-button {
  text-decoration: underline;
  border: none;
  background: none;
  color: #39393f;
  cursor: pointer;
}

.resend-code-button:active {
  transform: translateY(2px); 
}

.resend-code-button:disabled {
  transform: none; 
  cursor: not-allowed;
}

.new-email-input {
  width: 50%;
  height: 20px;
  border-radius: 5px;
  border: 1.5px solid #39393f;
  margin-bottom: 7px;
}

.change-email-button {
  border-radius: 5px;
  border: 1px solid #000000;
  background-color: #bda208;
  color: white;
  padding: 2%;
  cursor: pointer;
}

.change-email-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.edit-form {
  color: white;
  padding: 30px;
  background-color: #39393f;
  height: auto;
  width: 35%;
  display: grid;
  text-align: left;
  gap: 15px;
  margin-left: 31%;
}

.inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.firstname-edit-account {
  border-radius: 5px;
  border: 1px solid #bda208;
  padding: 5px;
  height: 15px;
  
}

.lastname-edit-account {
  border-radius: 5px;
  border: 1px solid #bda208;
  padding: 5px;
  height: 15px;
}

.email-edit-account {
  border-radius: 5px;
  border: 1px solid #bda208;
  padding: 5px;
  height: 15px;
}

.inputs-confirmMdp {
  display: flex;
  margin-top: -27px;
  justify-content: space-between;
}

.newMdp-edit-account {
  border-radius: 5px;
  border: 1px solid #bda208;
  padding: 5px;
  height: 15px;
}

.newMdp-edit-account.input-error {
  border: 2px solid red !important; 
}

.confirmMdp-edit-account {
  border-radius: 5px;
  border: 1px solid #bda208;
  padding: 5px;
  height: 15px;
}

.confirmMdp-edit-account.input-error {
  border: 2px solid red !important; /* Priorité plus élevée */
}

.btn-hide-edit-account {
  border: none;
  background: none;
  margin-top: -39px;
  margin-left: 95%;
  margin-bottom: 40px;
  cursor: pointer;
  font-size: 18px;
  width: 10px;
  height: 10px;
}

.save-button {
  padding: 3px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #bda208;
  border: 1px solid #000000;
}

.save-button:active {
  transform: translateY(2px); 
  box-shadow: 0 1px #000000; 
}

.cancel-button {
  padding: 3px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #cacaca;
  border: 1px solid #000000
}

.cancel-button:hover {
  background-color: rgb(190, 0, 0);
}



/*-----------------------------OrderSend---------------------------*/

.main-order-send {
  text-align: center;
  margin-bottom: 193px;
}

.h3-order-send {
  font-size: 40px;
  text-align: center;
  padding-top: 220px;
  margin-bottom: 0;
}

.fa-circle-check {
  color: green;
}

.p-order-send {
  font-size: 20px;
}

















/*-----------------------------général--------------------------*/

h1 {
  font-size: 70px;
}

h2 {
  font-size: 45px;
  color: #39393f;
}

.h3-cat-watch {
  font-size: 20px;
  font-weight: normal;
}

h4 {
  font-size: 35px;
  text-decoration: underline;
}

h5 {
  font-size: 20px;
}

p {
  font-size: 15px;
}

.main-montre {
  text-align: center;
  margin-top: 120px;
}

.imgMontre1 {
  box-shadow: 0 0 10px #ffffff;

}

.imgMontre2 {
  box-shadow: 0 0 10px #0084ff;
}

.imgMontre3 {
  box-shadow: 0 0 10px #ffffff;
}

sup {
  color: red;
}

.ul {
  list-style: none;
  list-style-type: none;
  display: flex;
  gap: 150px;
}

.icons {
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 0.50em;
  height: 0.50em;
}

::-webkit-scrollbar-thumb {
  background: #bda208;
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background: #bda208;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
}
